.main-home-title{margin:-25px -20px 0px;}
.main-home-title h3{ background: #b9dae3 none repeat scroll 0 0; color: #222; font-weight: 400; padding: 12px 18px; text-transform: uppercase; margin-bottom:0px!important; font-size:24px;}	
.main-home-title i{font-size:26px;}	
.main-home-title .col-md-4{ padding:0px!important;}
.apply_leave{ background:#72d3fe;}
.your_attendance{ background:#45b7af;}
.check_leave{ background:#465460;}
.leave-box{text-align:center; padding:10px; font-size:18px; color:#fff; font-weight:500; font-family:arial;}
.leave-box img{ margin-right:10px;} 
.leave_status{ margin-bottom:25px; display:block; overflow:hidden;}
.home-middle-section{ background:#ffffff!important;}
.need-to-act-main{border:2px solid #a3a1a2; padding:0 10px;}
.need-to-act-main h3{ background:#a3a1a2; margin:0 -10px; font-weight:600; text-align:center; color:#fff; padding:10px; margin-top:0;}
.tabbable-line > .nav-tabs > li > a {
    background: #a3a2a2!important;
    border: 0 none;
    border-radius: 3px!important;;
    color: #fff!important;
    margin-right: 0;
}
.tabbable-line > .nav-tabs > li > a:hover {
    background: #465460!important;
	border:0px!important;
}
.nav-tabs > li.active {
    border-bottom: 0px!important;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom:0px!important;
}
.nav-tabs > li:hover.active {
    border-bottom: 0px!important;
}
.nav-tabs > li.active a {
    background:#465460!important;
}
.nav-tabs > li.active a:hover {
    background:#465460!important;
}

.vertical_menu > li.active a {
    background:#fff!important;
	margin-right:-1px!important;
}
.vertical_menu > li > a {
    background:#f2f2f2;
    border-radius: 4px 0 0 4px;
    margin-right:0px!important;
}

.vertical_menu > li.active a:hover {
    background:#fff!important;
}
.tabbable {padding:10px 0;}
.need-to-act-main .tab-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #45b7af #45b7af #45b7af currentcolor;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    display: block;
    min-height: 310px;
    overflow: hidden;
	padding:10px;
}



    
    .cf:before, .cf:after{
      content:"";
      display:table;
    }
    
    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }

    /*-------------------------------------*/	
    
   .form-wrapper {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    border-radius: 6px!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    margin: 18px auto;
    padding: 10px;
    width: 520px;
}
    
	.form-wrapper input {
	background: #eee none repeat scroll 0 0;
	border: 0 none;
	border-radius: 3px 0 0 3px;
	float: left;
	font: bold 15px "lucida sans","trebuchet MS","Tahoma";
	height: 40px;
	padding: 10px 5px;
	width: 390px;
	}
    
    .form-wrapper input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
    .form-wrapper button {
		overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 110px;
        font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #4E9DE0;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }   
      
    .form-wrapper button:hover{		
        background: #e54040;
    }	
      
    .form-wrapper button:active,
    .form-wrapper button:focus{   
        background: #c42f2f;    
    }
    
    .form-wrapper button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #4E9DE0 transparent;
        top: 12px;
        left: -6px;
    }
    
    .form-wrapper button:hover:before{
        border-right-color: #e54040;
    }
    
    .form-wrapper button:focus:before{
        border-right-color: #c42f2f;
    }    
    
    .form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
.byline p{
  text-align:center;
  color:#c6c6c6;
  font: bold 18px Arial, Helvetica, Sans-serif;
  text-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.byline p a{
  color:#d83c3c;
  text-decoration:none;
}

.legendlist span{border:none!important; border-radius:8px!important;}
.legendlist li{ margin-right:12px!important;}
.vertical_menu{min-height:306px!important;}
.list-group-item {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd currentcolor;
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
}
.list-group-item i{ font-size:14px; color:#7c7d7e;}
.badge {
    background-color: cadetblue!important;
}
.portlet.light {
    background-color: #fff;
    padding: 12px!important;
}
.portlet.light > .portlet-title > .caption {
    color: #666;
    padding: 0!important;
}
.form-connect {
border-radius: 3px 1px 0 3px!important; height: 40px!important;}
.bsearch{padding:10px 14px!important;}
.btn.submit {
    border-radius: 0 3px 3px 0!important;
}

/* custom inclusion of right, left and below tabs */

.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}


.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 188px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  border-right: 1px solid #45b7af ;
}

.tabs-left > .nav-tabs > li > a {
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #45b7af  transparent #45b7af  #45b7af ;

}









