.fc-day-grid-event > .fc-content {
                margin-right: 18px;
                padding: 3px;
            }

            .fc-day-grid-event > .fc-content > span {
                white-space: pre-line;
            }

            .red, .red2, .green,.green2,.green_over,.red_over,.yellow,.yellow_over,.blue_over,.pink,.presentAbsent,.miss-punch{
                height: 108px;
                margin-left: -1px;
                margin-right: -1px;
                margin-top: -23px;
            }

            .red {
                background: rgba(255,255,255, .0);
            }


            .red2 {
                background: rgba(209,210,209, 0.05);
            }


            .green {
                background: rgba(0,100,0,0.1);
            }

            .green_over,.red_over,.yellow_over,.green2,.red,.miss-punch {
                background: rgba(255,255,255,0.05);
            }


            .green2 {
                background: rgba(209,210,209,0.05);
            }

            .yellow .fc-title::before {
                background-color: yellow;
            }
            .miss-punch .fc-title::before {
                background-color: #28E0D1;
            }


            .yellow {
                background: rgba(255, 252, 192, 0.05);
            }



            .circle-legend .fc-title {
                color: #2c2c2c;
                display: block;
                font-family: Open Sans;
                font-size: 1.1em;
                padding: 2px 6px 2px 15px;
            }
            .cal-event {
                bottom: 3px;
                position: absolute;
                right: 0;
            }
            .att-time {
                color: #817d7d;
                font-size: 0.85em;
                margin: 0 0 0 3px;
            }
            .circle-legend .fc-title:before{
                border-radius: 10px;
                content: "";
                height: 10px !important;
                left: 5px;
                margin: 0;
                position: absolute;
                top: 9px;
                width: 10px !important;
            }
            .yellow .fc-title:before, .yellow_over .fc-title:before{
                background-color: #ff9800;
            }

            .red_over .fc-title::before, .red .fc-title::before {
                background-color: #f83d3d;
            }

            .presentAbsent .fc-title::before {
                background: linear-gradient(45deg, green, green 100%), linear-gradient(135deg, red, red), linear-gradient(225deg, green, green) , linear-gradient(225deg, red, red);
                background-size: 50% 50%;
                background-position: 0% 0%, 0% 100%, 100% 0%, 100% 100%;
                background-repeat: no-repeat;
                border-radius: 50%;
            }
            .blue_over .fc-title::before{
                background-color: #4646FF;
            }

            .green2 .fc-title::before{
                background-color: green;
            }

            .pink .fc-title::before{
                background-color: #999;
            }

            .pink_over .fc-title::before{
                background-color: green;
            }




            .fc-content-skeleton{
                padding-bottom:0 !important;

            }
            .myTable > tbody > tr > td {
                font-size: 12px;
                padding: 4px 2px !important;
            }

            .myTable > tbody > tr > th {
                font-size: 11px;
                padding: 4px 2px !important;
            }

            .month-data-active{
                display: block;
            }
            .month-data{
                display: none;
            }

            th.rotate {
                height: 60px;
                white-space: nowrap;
            }

            th.rotate > div {
                transform: 
                    translate(0px, 40px)
                    rotate(270deg);
                width: 22px;
            }
            th.rotate > div > span {
                padding: 0px 10px;
            }
            .ui-widget-header{
                border-top: 0px solid !important;
                border-left: 0px solid !important;
                border-right: 0px solid !important;
                border-bottom: 1px solid #aaaaaa !important;
                background: #ffffff !important;
                color: #222222;
                font-weight:normal !important;
            }
            .ui-widget {
                font-family: "Open Sans",Arial,sans-serif !important;
                font-size: 0.9em !important;
            }

            .fc-basic-view td.fc-day-number, .fc-basic-view td.fc-week-number span {
                font-weight: 600;
                padding-bottom: 2px;
                padding-top: 0px;
            }
            .fc-day-number {
                font-size: 1.1em;
            }
            #eventContent{
                max-height: 350px;
                overflow-y: auto;
            }

            .ui-dialog-titlebar-close::before {
                content: "x";
            }

            .ui-dialog-titlebar-close {
                background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                border: medium none;
            }


            .legendlist { list-style: none;margin-top: 16px; padding-left: 0; }
            .legendlist li { float: left; margin-right: 10px;}
            .legendlist li:first-child {
                margin: 0;
            }
            .legendlist span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px;}

            .legendlist .preset-legent { background-color: green; }
            .legendlist .absent-legend { background-color:#f83d3d; }
            .legendlist .leave-legend { background-color: #4646FF; }
            .legendlist .od-legend { background-color: #999; }
            .legendlist .halfday-legend { background-color: #ff9800; }
            .legendlist .holiday-legend { background-color: #E5EFE5; }
            .legendlist .miss-punch { background-color: #28E0D1; }
            .bgnone{ background: none repeat scroll 0 0 rgba(0, 100, 0, 0.1); }
            table th{border: 1px solid #ddd; width: 126px;}
            table td{ border: 1px solid #ddd; padding: 6px 0 0 0 !important;}
            .myheader{ height: 30px;background-color: #d7e9f9;font-size: 16px;vertical-align: middle;padding-top: 5px;  }
            .datelabel {text-align: right; font-weight: bold;}
            .fc-title{color: #000 !important;}