.rost_showdiv{
	display:none;
}
.rolename_availability_result {
    display: block;
    width: auto;
    float: left;
    padding: 10px;
    font-family: tahoma;
    font-size: 14px;
}
.error {
    color: #FF0000;


}
.success {
    color: #009900;
}

.modal-color{
background-color: #4B8DF8;

font-weight:bold;

}

.white-color{
	color:#ffffff ;
}